* {
	margin 0;
	padding 0
	box-sizing: border-box;
	font-style: normal;
	text-decoration: none;
	outline: none;
	list-style-type: none;
	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html, body {
	height: 100%;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
}