* {
	margin 0;
	padding 0
	box-sizing: border-box;
	font-style: normal;
	text-decoration: none;
	outline: none;
	list-style-type: none;
	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

  	--color_theme: #2980b9;
}

html, body {
	height: 100%;
	font-size: 18px;
	font-family: 'Droid Sans', sans-serif;
}

nav {
	li {
		display: inline-block;
	}
}

.btn {
    padding: 5px;
    margin-bottom: 10px;
    display: block;
    color: var(--color_theme);
    border: 1px solid var(--color_theme);
    color: var(--color_theme);
    &.current {
    	background: var(--color_theme);
    	color: #fff;
    }
}